# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]istros/
obj/
bin/

# User-specific files
.vs/
.idea/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# .NET Core files
project.lock.json
project.fragment.lock.json
artifacts/

# Windows Installer files
Thumbs.db

